<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<!--<handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>-->
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<remove name="WebDAV" />
				<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
				<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
				<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
				<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
				<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
				<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;D:\Projetos\Final\Achei.Client.Services.API\bin\Debug\netcoreapp2.2\Achei.Client.Services.API.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
					<environmentVariable name="COMPLUS_ForceENC" value="1" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>